.row
  .col-sm-12
    h2.heading2.api-heading ::: Create Account
.row
  .col-sm-12
    h1.notopmargin Request URL
    tt.tt #{appUrl}/api/
      span.api-liveaction 
hr.subhr
.row
  .col-sm-12
    h1.notopmargin Request Test URL
    .row.params-row
      .col-xs-10
        tt #{appUrl}/api/
          span.api-testaction 
      .col-xs-2
        button(class='testhereBtn',onclick="") Launch Test
hr.subhr
.row
  .col-sm-12
    h1.notopmargin Request Header Information
    .row.params-row
      .col-xs-6
        strong Request type
      .col-xs-6
        tt GET
    .row.params-row
      .col-xs-6
        strong Response format
      .col-xs-6
        tt JSON
    .row.params-row
      .col-xs-6
        strong Requires authentication?
      .col-xs-6
        tt NO (No Auth Used)
    .row.params-row
      .col-xs-6
        strong Requires environment setup?
      .col-xs-6
        tt No (Sandbox Only)
hr.subhr
.row.paramsrow
  .col-sm-12
    h1.notopmargin Request Parameters
    .row.params-row.notoppadding
      .col-xs-3.param-title
        strong Fields
      .col-xs-3.param-title
        strong Values
      .col-xs-3.param-title
        strong Type
      .col-xs-3.param-title
        strong Required
        em *
