// Nav tabs
ul.nav.nav-tabs.tabs-right
  each item,index in list
    li(class=(index===0)?'active':'')
      a(href='#'+item.action, data-live=item.live_path, data-test=item.test_path, data-length=item.params.length, data-toggle='tab', class='switch-tabs') ::: #{item.title}