doctype html
//
  * COPYRIGHT SOURCE CODE &COPY; RUPINDER SINGH SETHI M: +91-9915455521
  *
  * PLATFORM: NODEJS/EXPRESS/MONGODB
  *
  * DEVELOPER NAME: RUPINDER SINGH SETHI / SR. NODE-JS/ANGULAR-JS/WEBRTC/SOCKET-IO/FULL STACK DEVELOPER
  *
  * DEVELOPER PROFILE: https://in.linkedin.com/in/rup-sethi-5753a3b4
  *
  * LOCATION: CHANDIGARH - INDIA
  *
  * DATE: 22 JUNE 2016
  *
  * CONFIDENTIALITY NOTICE: This source code file contains confidential information
  * that is legally privileged. Do not copy/re-use/re-distribute this file. If you
  * are not the intended recipient/user of this file, any disclosure, copying, or use
  * of any of the transmitted information is STRICTLY PROHIBITED. If you have received
  * this file in error, please immediately notify this to info@wegile.com and destroy
  * the original transmission/files and its attachments without reading or saving them.
  * Thank you.
html
  head
    meta(charset='utf-8')
    title DreamLines :: 404 Page Not Found
    link(rel='stylesheet', href='/public/css/style.css')
    link(rel='DreamLines icon', type='image/x-icon', href='/public/favicon.ico')
  body
    center
      img(class='landing404-logo', src='/public/images/splash.jpg', alt='DreamLines logo')
      .clearboth
      div(class='')
        h1.nf-h1 404
        strong.nf-strong Oops!
        p.nf-p The page or file you are requested is not found.
