doctype html
//
  * COPYRIGHT SOURCE CODE &COPY; RUPINDER SINGH SETHI M: +91-9915455521
  *
  * PLATFORM: NODEJS/EXPRESS/MONGODB
  *
  * DEVELOPER NAME: RUPINDER SINGH SETHI / SR. NODE-JS/ANGULAR-JS/WEBRTC/SOCKET-IO/FULL STACK DEVELOPER
  *
  * DEVELOPER PROFILE: https://in.linkedin.com/in/rup-sethi-5753a3b4
  *
  * LOCATION: CHANDIGARH - INDIA
  *
  * DATE: 22 JUNE 2016
  *
  * CONFIDENTIALITY NOTICE: This source code file contains confidential information
  * that is legally privileged. Do not copy/re-use/re-distribute this file. If you
  * are not the intended recipient/user of this file, any disclosure, copying, or use
  * of any of the transmitted information is STRICTLY PROHIBITED. If you have received
  * this file in error, please immediately notify this to info@wegile.com and destroy
  * the original transmission/files and its attachments without reading or saving them.
  * Thank you.
html
  head
    meta(charset='utf-8')
    title DreamLines :: API's Demonstration
    link(rel='stylesheet', href='/public/css/bootstrap.min.css')
    link(rel='stylesheet', href='/public/css/bootstrap.vertical-tabs.min.css')
    link(rel='stylesheet', href='/public/css/style.css')
    link(rel='DreamLines icon', type='image/x-icon', href='/public/favicon.ico')
  body
    .container
      .row(style='min-height:600px;')
        .col-sm-12.contentarea
          h3 DreamLines :: API Description & Detail
          hr
          .col-xs-9.nomargin.nopadding
            // Tab panes
            .tab-content.api-header
              include ./global/common.jade
              - each item,index in list
                div(class='tab-pane '+((index===0)?'active':''), id=item.action)
                 if(item.params)
                  - each subitem in item.params
                   .row.params-row
                    .col-xs-3
                     strong :#{subitem.field}
                    .col-xs-3
                     tt
                      if(subitem.multioption)
                       ul.noulpadding
                        each subval in subitem.value
                         li #{subval}
                      else
                       | #{subitem.value}
                    .col-xs-3
                     i #{subitem.type}
                    .col-xs-3
                     i #{subitem.required}
          .col-xs-3
            include ./global/menu.jade
      footer.footer(style='width:100%; text-align:center; padding-bottom:20px;')
        hr
        a(href='/') DreamLines Gmbh (API Demonstration)
        |  Copyright &copy; 2016, All rights reserved. Developed By 
        a(href='https://www.linkedin.com/in/rup-sethi-5753a3b4', target='_blank') Rup Sethi
        | .
    script(src='/public/js/jquery-2.1.1.min.js')
    script(src='/public/js/bootstrap.min.js')
    script(src='/public/js/dreamlines.js')
