/*
  * COPYRIGHT SOURCE CODE &COPY; RUPINDER SINGH SETHI M: +91-9915455521
  *
  * PLATFORM: NODEJS/EXPRESS/LOKIJS
  *
  * DEVELOPER NAME: RUPINDER SINGH SETHI / SR. NODE-JS/ANGULAR-JS/WEBRTC/SOCKET-IO/FULL STACK DEVELOPER
  *
  * DEVELOPER PROFILE: https://in.linkedin.com/in/rup-sethi-5753a3b4
  *
  * LOCATION: CHANDIGARH - INDIA
  *
  * DATE: 22 JUNE 2016
  *
  * CONFIDENTIALITY NOTICE: This source code file contains confidential information
  * that is legally privileged. Do not copy/re-use/re-distribute this file. If you
  * are not the intended recipient/user of this file, any disclosure, copying, or use
  * of any of the transmitted information is STRICTLY PROHIBITED. If you have received
  * this file in error, please immediately notify this to info@wegile.com and destroy
  * the original transmission/files and its attachments without reading or saving them.
  * Thank you.
*/

.clearboth {
	clear:both;
}

.landing-logo {
	padding:150px 0 80px 0;
	width:40%;
}

.landing404-logo {
	padding:150px 0 10px 0;
	width:500px;
}

button {
	cursor: pointer;
  font-family: helvetica,sans-serif;
  font-size: 15px;
  height: 33px;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.nf-h1 {
	display: inline;font-size: 10em;
}

.nf-strong {
	color: grey;
  font-size: 80px;
  margin-left: 17px;
  margin-top: 25px;
  position: absolute;
}

.nf-p {
	color: grey;
  display: inline;
  font-size: 19px;
  margin-left: 17px;
  margin-top: 8.2%;
}

tt { word-wrap: break-word; }

.testhereBtn { float: right; margin: 0; }

.api-liveaction b,
.api-testaction b { color: black; }